.jobs{
 background-color: var(--bg-light-cyan);
 font-size: 15px;
 width: 100%;
 font-family: "Spartan", sans-serif;
}
.job{
    width: 90%;
    margin:40px auto 0;
    padding: 20px 0 30px 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 15px 15px -4px hsla(180, 29%, 50%, 20%);
    display: flex;
    justify-content: space-between;
}
.jobContainer{
    display: flex;
    width: 50%;
}
.logo{
    padding-left:20px;
    border-radius: 50%;
    width: 40%;
    height: auto;
}
.jobCards{
   width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.jobDetails{
}
.jobCompany {
    color: var(--primary-dark-cyan);
    font-size: 0.8rem;
    margin-right: 18px;
  }
.isNew{
  background-color: var(--primary-dark-cyan);
  color: #fff;
  padding: 8px;
  margin-left: 20px;
  border-radius: 10px;
  font-weight: 700;
}
  .Featured{
    background-color: var(--vdark-gray-cyan);
    color: #fff;
    padding: 8px;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: 700;
  }
  .feature-highlight {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--primary-dark-cyan);
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;
  }

  .jobTags{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .jobPosition {
    cursor: pointer;
    padding: 15px 0 15px 0;
    font-size: 20px;
    color: #000;
    font-weight: 700;
  }
  
  .jobPosition:hover {
    color: var(--primary-dark-cyan);
  }

  .jobContract {
    display: inline;
    padding: 15px 0 15px 0;
    font-size: 0.8rem;
    color: var(--dark-gray-cyan);
    
  }
  
 .Desc{
    display: flex;
    align-items: center;
    
 }
 .descTools{
    font-size: 15px;
    color: var(--primary-dark-cyan);
    background-color: var(--filter-tablets);
    margin: 10px;
    padding: 10px;
 }
 @media screen and (max-width: 390px) {
 }.jobs{
 width: 100%;
}